<mat-toolbar class="bg-slate-50 border-b w-screen">
	<mat-toolbar-row>
		<a routerLink="home" class="cursor-pointer">
			<img src="/assets/icons/logo.png" alt="logo" class="w-16 aspect-square" />
		</a>
	</mat-toolbar-row>
	<mat-toolbar-row>
		<span>Second Line</span>
		<span class="example-spacer"></span>
	</mat-toolbar-row>

	<!-- <mat-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
  </mat-toolbar-row> -->
</mat-toolbar>
